.donHangView .gridBody {
    width: 452px;
    overflow: auto;
}

.donHangView .cell.col2 {
    width: 55px;
}

.donHangView .cell.col3 {
    width: 80px;
}

.donHangView .cell.col4 {
    width: 170px;
}
