@media screen and (max-width: 40em) {
    #headerMenuViewLarge {
        display:none;
    }
    
    #headerMenuViewMobile {
        display:block;
    }

    body {
        padding-top: 20px;
    }
}