body {
    padding-top: 35px;
}

span {
    white-space: pre;
}

#registerPanel {
    display: none;
    position: relative;
    float: left;
    text-align: left;
    padding: 25px;
}

#loginPanel {
    display: block;
    position: relative;
    float: left;
    text-align: left;
    padding: 25px;
    width: 600px;
}

#registerPanel a,
#loginPanel a {
    color: navy;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

fieldset {
    border: medium none;
    display: inline;
    margin: 0 auto;
    padding: 0 20px;
    text-align: left;
}

    fieldset legend {
        display: none;
    }

    fieldset ol {
        list-style: outside none none;
        margin: 0 0 8px;
        padding: 0;
    }

    fieldset label:not(.checkbox) {
        display: block;
        text-align: left;
    }

.datePicker {
    width: 80px;
}

.underlineText {
    text-decoration: underline;
}

.warningUpper {
    color: blue;
}

.warningLower {
    color: red;
}

.readOnlyGrid {
    font-size: 1.4em;
}

.readOnlyGrid .row {
    display: table-row;
}

.readOnlyGrid .cell {
    display: table-cell;
    border: 1px solid #e8eef4;
    padding: 5px;
}

.readOnlyGrid input {
    height: 25px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.readOnlyGrid select {
    height: 27px;
}

/*jquery ui datepicker size*/
div.ui-datepicker, .ui-datepicker input{font-size:70%;}
