body {
    padding-top: 40px;
    font-size: 1.2em;
}

select {
    height: 27px;
}

input {
    height: 25px;
    padding-bottom: 0px;
    padding-top: 0px;
}

span {
    white-space: pre;
}

#headerMenuView {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    background-color: #d2d2d2;
}

    #headerMenuView > ul {
        list-style: outside none none;
        padding-left: 5px;
        font-size: 0.8em;
    }

        #headerMenuView > ul > li {
            float: left;
        }

#registerPanel {
    display: none;
    position: relative;
    float: left;
    text-align: left;
    padding: 25px;
}

#loginPanel {
    display: block;
    position: relative;
    float: left;
    text-align: left;
    padding: 25px;
    width: 600px;
}

#headerMenuView > ul > li.line {
    margin: 0 8px;
}

#registerPanel a,
#loginPanel a {
    color: navy;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

fieldset {
    border: medium none;
    display: inline;
    margin: 0 auto;
    padding: 0 20px;
    text-align: left;
}

    fieldset legend {
        display: none;
    }

    fieldset ol {
        list-style: outside none none;
        margin: 0 0 8px;
        padding: 0;
    }

    fieldset label:not(.checkbox) {
        display: block;
        text-align: left;
    }

.row {
    display: table-row;
}

.cell {
    display: table-cell;
    border: 1px solid #e8eef4;
    padding: 5px;
}

.datePicker {
    width: 80px;
}

.menuItem {
    color: navy;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

.selectedMenuItem {
    color: navy;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}
/*jquery ui datepicker size*/
div.ui-datepicker, .ui-datepicker input{font-size:70%;}
